{% extends 'ads/base.html' %}

{% block content %}

<div class="about">
  <h1>About</h1>
  <p>
    This is a Web Application I started developing in my free time. My main
    aim was practice some new technologies.
  </p>
  <h1>FAQ</h1>
  <ul>
    <li>Why is it free to post an ad ?</li>
    <p>As I said, my aim was to practice some new technologies while developing
      this Web App and not make a profit out it.</p>
    <li>Can I suggest a new feature to improve this Web Application ? </li>
    <p>Technically, yes you can as nobody can stop you but truth be told, I most
      propably won't implement it. Not because I believe my end result is perfect
      but because I already accomplished my goal.</p>
    <li>Can I post as many ads as I want ?</li>
    <p>Yes, you can! There is only one limitation, the available disk space the
      server has. If there is going to be any disk space issues, I will start
      deleting old ads.</p>
    <li>For how long will this Web Application be accessible ?</li>
    <p>This is a good question. I can not maky any promises I can not keep, so
    be aware that from any moment it may not be available anymore.</p>
  </ul>
</div>

{% endblock %}
