{% extends 'ads/base.html' %}

{% block content %}

<div class="post-ad">
  <p>
    In order to post your ad for <strong>free</strong> send an email
    <a href="mailto: kiriakosnaiskes@gmail.com">here</a> with the
    following:
    <ul>
      <li>Description - <strong>1000 characters max</strong></li>
      <li>Title - <strong>50 characters max</strong></li>
      <li>Price</li>
      <li>Phone number</li>
      <li>Type (Sale, job and etc)</li>
      <li>A single image</li>
    </ul>
  </p>
</div>

{% endblock %}
