body {
    margin: 0;
    padding: 0;
}

.navbar {
    overflow: hidden;
    background-color: #333333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-top: 3px solid #88E904;
}

.navbar a:hover {
    text-decoration: underline;
    text-decoration-color: #88E904;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 700px;
  margin: auto;
  margin-top: 50px;
  padding-bottom: 10px;
  padding-top: 15px;
  text-align: center;
  font-family: arial;
}

.ad_type {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.card a {
    text-decoration: none;
    color: white;
}

.card img {
    padding-top: 20px;
    width: 50%;
}

.post-ad {
    font-size: 20px;
}

.post-ad p {
    text-align: center;
}

.post-ad ul {
    width: 40%;
    margin: auto;
    list-style-type: square;
}
